body{
    margin: 0;
    padding: 0;
    background-image: url("main.webp");
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: sans-serif;
}

.loginPage{
    width: 320px;
    height: 440px;
    background:#fff;
    color: #000;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

h1{
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 30px;
}


button{
    border: none;
    outline: none;
    height: 40px;
    width: 260px;
    background: rgb(54, 139, 29);
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

button:hover{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}

.register{
    background:#fff;
    color: #000;
    top: 60%;
    left:50%;
    position: relative;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
}

#loginErrorMes {
    position:relative;   
}